<!DOCTYPE html>
<html>

<head>
    <th:block th:fragment="config">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">

    
        <meta charset="utf-8">

        <title>I5-29 ERP SYSTEM</title>

        <link href="/css/layout/header_sidebar.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    </th:block>
</head>

</html>