<th:block th:fragment="header">

    <div class="wrapper">
        <!--사이드 바-->
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar" id="menu">
                <a class="sidebar-brand" href="/">
                    <span class="align-middle">I5-29 ERP SYSTEM</span>
                </a>

                <ul class="sidebar-nav" >

                    <li class="mb-1" v-for="(main,i) in mainmenu" key="i">
                        <a class="sidebar-link" v-bind:href="main.menuurl" role="button" data-bs-toggle="collapse" v-bind:data-bs-target="'#'+main.menuname" aria-expanded="false" >
                            <i class="align-middle-menu" data-feather="book"></i>
                            <span class="align-middle-menu" v-bind:style="opacity">{{main.menuname}}</span>
                        </a>


                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <div class="collapse" v-bind:id="main.menuname">
                                <li v-for="(sub,j) in submenu" key="j">
                                    <a v-if="main.groupnumber===sub.groupnumber" v-bind:href="sub.menuurl" class="collspan list">{{sub.menuname}}</a>
                                </li>
                                </div>
                            </ul>

                    </li>


                </ul>

            </div>
        </nav>
        <!--main 컨텐츠 부분-->
        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item">
                            <a class="logout" href="/dologout" methods="get">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <th:block layout:fragment="content"></th:block>
        </div>
        
    </div>
    
    <script>
        const Menu = {
          data() {
            return {
              opacity : "opacity : 0",
              mainmenu:[],
              submenu:[]
            }
          },

          methods: {
            getMenulist(){
              axios.post("http://localhost:8888/api/menu")
                    .then((response)=>{
                      this.mainmenu=response.data[0];
                      this.submenu=response.data[1];
                      this.opacity = "opacity : 1";
                    })
              .catch(error=>console.error(error))
            }
          },

          mounted(){
            this.getMenulist();
          }


        }

        Vue.createApp(Menu).mount('#menu')

    </script>


</th:block>
