<th:block th:fragment="header">

    <div class="wrapper">
        <!--thymeleaf
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar" id="menu">
                <a class="sidebar-brand" href="/">
                    <span class="align-middle">I5-29 ERP SYSTEM</span>
                </a>

                <ul class="sidebar-nav" >

                    <li class="mb-1" th:each="main:${menu}">
                        <a class="sidebar-link" th:href="@{main.menuurl}" role="button" data-bs-toggle="collapse" th:data-bs-target="'#'+main.menuname" aria-expanded="true" >
                            <i class="align-middle" data-feather="book"></i>
                            <span class="align-middle" th:text="${main.menuname}"></span>
                        </a>


                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <div class="collapse" th:id="main.menuname">
                                <li th:each="sub:${sub}">
                                    <a v-if="${main.groupnumber==sub.groupnumber}" th:href="@{sub.menuurl}" class="collspan list" th:text="${sub.menuname}"></a>
                                </li>
                                </div>
                            </ul>

                    </li>

                   
                </ul>

            </div>
        </nav>
        -->
        <!--사이드 바-->
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar" id="menu">
                <a class="sidebar-brand" href="/">
                    <span class="align-middle">I5-29 ERP SYSTEM</span>
                </a>

                <ul class="sidebar-nav" >

                    <li class="mb-1" v-for="(main,i) in mainmenu" key="i">
                        <a class="sidebar-link" v-bind:href="main.menuurl" role="button" data-bs-toggle="collapse" v-bind:data-bs-target="'#'+main.menuname" aria-expanded="true" >
                            <i class="align-middle-menu" data-feather="book"></i>
                            <span class="align-middle-menu" v-bind:style="opacity">{{main.menuname}}</span>
                        </a>


                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <div class="collapse" v-bind:id="main.menuname">
                                <li v-for="(sub,j) in submenu" key="j">
                                    <a v-if="main.groupnumber===sub.groupnumber" v-bind:href="sub.menuurl" class="collspan list">{{sub.menuname}}</a>
                                </li>
                                </div>
                            </ul>

                    </li>

                   
                </ul>

            </div>
        </nav>
        <!--main 컨텐츠 부분-->
        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle" href="#" id="alertsDropdown" data-bs-toggle="dropdown">
                                <div class="position-relative">
                                    <i class="align-middle" data-feather="bell"></i>
                                    <span class="indicator">4</span>
                                </div>
                            </a>
                            
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end py-0" aria-labelledby="alertsDropdown">
                                <div class="dropdown-menu-header">
                                    4 New Notifications
                                </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="text-danger" data-feather="alert-circle"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">Update completed</div>
                                                <div class="text-muted small mt-1">Restart server 12 to complete the update.</div>
                                                <div class="text-muted small mt-1">30m ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="text-warning" data-feather="bell"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">Lorem ipsum</div>
                                                <div class="text-muted small mt-1">Aliquam ex eros, imperdiet vulputate hendrerit et.</div>
                                                <div class="text-muted small mt-1">2h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="text-primary" data-feather="home"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">Login from 192.186.1.8</div>
                                                <div class="text-muted small mt-1">5h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <div class="row g-0 align-items-center">
                                            <div class="col-2">
                                                <i class="text-success" data-feather="user-plus"></i>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">New connection</div>
                                                <div class="text-muted small mt-1">Christina accepted your request.</div>
                                                <div class="text-muted small mt-1">14h ago</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="dropdown-menu-footer">
                                    <a href="#" class="text-muted">Show all notifications</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="logout" href="/dologout" methods="get">
                                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <th:block layout:fragment="content"></th:block>
        </div>
    </div>

    <script src="/./js/layout/header_sidebar.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        const Menu = {
          data() {
            return {
              opacity : "opacity : 0",  
              mainmenu:[],
              submenu:[]
            }
          },

          methods: {
            getMenulist(){
              axios.post("http://localhost:8888/api/menu")
                    .then((response)=>{
                      this.mainmenu=response.data[0];
                      this.submenu=response.data[1];
                      this.opacity = "opacity : 1";
                    })
              .catch(error=>console.error(error))
            }
          },

          mounted(){
            this.getMenulist();
          }


        }

        Vue.createApp(Menu).mount('#menu')

    </script>

    
</th:block>
