<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout_form}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<th:blcok layout:fragment="content">
    <head>
        <meta charset="UTF-8">
        <link href="/css/hrms/hrms.css" rel="stylesheet"/>
    </head>
    <body>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white">
        <div class="container-fluid">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            게시판 - 자유 게시판
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <header class="page-header page-header-dark bg-gray-900 pb-10">
        <div class="container">
            <div class="page-header-content pt-2">
            </div>
        </div>
    </header>
    <div class="container mt-n10" id="board">
        <div class="card mb-4">
            <div class="card-header">글 작성</div>
            <!--코드 시작 부분-->
            <div class="card-body">

                <div class="form-group">
                    <label class="col-sm-2 control-label">제목</label>
                    <div class="col-sm-12">
                        <input type="text" v-model="title" class="form-control" maxlength="50" placeholder="제목을 입력해 주세요." />
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">내용</label>
                    <div class="col-sm-12">
                        <textarea v-model="content" class="form-control" maxlength="1000" placeholder="내용을 입력해 주세요." rows="33"></textarea>
                    </div>
                </div>

                <div class="btn_wrap text-right">
                    <a href="/board" class="btn btn-hrms p-2">목록</a>
                    <button type="button" class="btn btn-hrms p-2" v-on:click="boardInsert">저장</button>
                </div>

            </div>
        </div>
        <script>

             const boardvalue = {

        data() {
            return {
                checkInsert: "",
                title: '',
                content: ''

            }
        },

        methods: {

            // 게시글 작성
            boardInsert(){
                axios.post("http://localhost:8888/api/boardinsert",
                {
                    title: this.title,
                    content: this.content
                }
                ).then((response) => {
                    this.checkInsert = response.data;
                    console.log(this.checkInsert)
                    if(this.checkInsert === true){
                        location.href= "http://localhost:8888/board"
                    }
                }).catch(error => console.error(error))
            }
        },
    }
Vue.createApp(boardvalue).mount("#board")

        </script>
    </div>
    </body>
</th:blcok>
</html>

