<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout_form}" xmlns:th="http://www.w3.org/1999/xhtml">
<th:blcok layout:fragment="content">

    <head>
        <meta charset="UTF-8">
        <link href="/css/hrms/hrms.css" rel="stylesheet"/>
        <link href="/css/board/main.css" rel="stylesheet"/>

    </head>

    <body>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white">
        <div class="container-fluid">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            게시판 - 공지사항
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <header class="page-header page-header-dark bg-gray-900 pb-10">
        <div class="container">
            <div class="page-header-content pt-2">
            </div>
        </div>
    </header>
    <div class="container mt-n10" id="notice">
        <div class="card mb-4">
            <div class="card-header">공지사항 리스트</div>
            <!--코드 시작 부분-->



            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </thead>

                    <tbody>
                    <tr v-for="(row, bno) in list" key="bno">
                        <td>
                            {{ "공지" }}
                        </td>
                        <td>
                            <a class="acolor" :href="'/noticedetail?bno=' + row.bno">{{ row.title }}</a>
                        </td>
                        <td>
                            {{row.name}}
                        </td>
                        <td>
                            {{row.createtime}}
                        </td>
                        <td>
                            {{row.boardcount}}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <a href="/noticewrite" class="btn btn-dark text-right">글 작성</a>
                </div>

                <script>
    const noticevalue = {
        data() {
            return {
                list: []
            }
        },

        methods: {

            // 공지사항 리스트
            noticeList(){
                axios.post("http://localhost:8888/api/noticelist", { boardtype : "a" }
                ).then((response) => {
                    this.list = response.data;
                }).catch(error => console.error(error))
            }
        },
        created(){
            this.noticeList();
        }
    }
Vue.createApp(noticevalue).mount("#notice")


                </script>

            </div>
        </div>
    </div>
    </body>
</th:blcok>
</html>
