<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout_form}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="">
<th:blcok layout:fragment="content">

    <head>
        <meta charset="UTF-8">
        <link href="/css/hrms/hrms.css" rel="stylesheet" />
    </head>

    <body>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white">
        <div class="container-fluid">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            게시판 - 공지사항
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <header class="page-header page-header-dark bg-gray-900 pb-10">
        <div class="container">
            <div class="page-header-content pt-2">
            </div>
        </div>
    </header>
    <div class="container mt-n10" id="notice">
        <div class="card mb-4">
            <div class="card-header">상세보기</div>
            <!--코드 시작 부분-->
            <div class="card-body">

                    <div class="p-3">
                        <h1 th:text="${detail.title}"></h1>
                        <div style="font-size: 0.9rem; color:#363d47">{{detaillist.name}}</div>
                        <div style="font-size: 0.9rem;" >{{date(detaillist.createtime)}}
                            조회 {{detaillist.boardcount}}</div>
                    </div>
                    <hr>
                    <textarea class="form-control mb-4 p-4 " readonly th:value="${detail.content}" style="
                    background: #ffffff;" rows="28"></textarea>

                    <div class="text-right">
                    <a href="/notice" class="btn btn-hrms p-2">목록</a>
                    <a v-show="usertype && name" th:href="@{|/noticemodify/${detail.bno}|}" class="btn btn-hrms p-2">수정</a>
                    <button v-show="usertype && name" type="button" class="btn btn-hrms p-2" v-on:click="noticeDelete()">삭제</button>
                </div>


            </div>
        </div>
        <script th:inline="javascript">
        /*<![CDATA[*/
            var bno = /*[[ ${detail.bno} ]]*/;
            var name = /*[[ ${detail.name} ]]*/;

        const noticevalue = {
            data() {
                return {
                    checkDelete: "",
                    checkUpdate: "",
                    usertype: true,
                    name: true,
                    detaillist: /*[[ ${detail} ]]*/
                }
            },

            methods: {

                // 로그인 정보에 있는 이름 가져오기
                // workinfo/controller/WorkInfoApiController에 getName 메소드 사용
                getName() {
                            axios.post("http://localhost:8888/api/getName")
                            .then(response => {
                                console.log(name)
                                this.name = response.data === name
                            })
                        },

                // 로그인 정보에 있는 usertype 가져오기
                // workinfo/controller/WorkInfoApiController에 getRole 메소드 사용
                getUsertype() {
                        axios.post("http://localhost:8888/api/getROLE")
                        .then(response => {
                        this.usertype = response.data !== "ROLE_A"
                    })
                },

                // 시간 포맷
                date(day){ return dayjs(day).format("YYYY.MM.DD. hh:mm")
                        },

                // 공지시항 게시글 삭제
                noticeDelete(){
                console.log(bno)

                axios.post("http://localhost:8888/api/noticedelete/" + bno

                ).then((response) => {
                    this.checkDelete = response.data;
                    console.log(this.checkDelete)
                    if(this.checkDelete === true){
                        location.href= "http://localhost:8888/notice"
                    }
                }).catch(error => console.error(error))

                },

            },

            mounted(){
            this.getUsertype(),
            this.getName()
            }
        }
        Vue.createApp(noticevalue).mount("#notice")

        /*]]*/

        </script>
    </div>
    </body>
</th:blcok>
</html>




