<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout_form}">
<th:blcok layout:fragment="content">

    <head>
        <meta charset="UTF-8">
        <title>I5-29 > 인사 관리</title>
        <link href="/css/styles.css" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <style>
            /* container init */
            .hrmscontainer {
                display: grid;
                grid-gap: 5px;
                gap: 30px 10px;
                grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
                grid-template-areas:
                    "i a a"
                    "b b b "
                    "c c c"
                    "d d d"
                    "e e e";
            }

            /* All Grid Items */
            .hrmscontainer>* {
                background-color: mediumseagreen;
                font-size: 80px;
            }

            image {
                grid-area: i;
            }
        </style>
    </head>

    <body>
        <div id="empList">
            <!-- Example DataTable for Dashboard Demo-->

            <!-- header -->
            <div id="layoutSidenav_content">
                <main>
                    <!-- 맨 위에 네비게이터 -->
                    <header class="page-header page-header-compact page-header-light border-bottom bg-white">
                        <div class="container-fluid">
                            <div class="page-header-content">
                                <div class="row align-items-center justify-content-between pt-3">
                                    <div class="col-auto mb-3">
                                        <h1 class="page-header-title">
                                            <div class="page-header-icon"><i data-feather="user"></i></div>
                                            Account Settings - Profile
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- 네비게이터 밑 남색 배경 -->
                    <header class="page-header page-header-dark bg-gray-900 pb-10">
                        <div class="container">
                            <div class="page-header-content pt-4">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-auto mt-4">
                                    </div>
                                    <!-- 링크 -->
                                    <nav class="nav nav-borders">
                                        <a class="nav-link active ml-0" href="account-profile.html">사원 리스트</a>

                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn bg-gradient-info btn-outline-secondary"
                                            data-bs-backdrop="static" data-bs-toggle="modal"
                                            data-bs-target="#empRegistModal123">
                                            사원 등록 냥
                                        </button>
                                        <a class="nav-link" href="account-security.html">Security</a>
                                        <a class="nav-link" href="account-notifications.html">Notifications</a>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </header>

                    <!-- Main page content-->
                    <div class="container mt-n10">
                        <div class="card mb-4">
                            <div class="card-header">사원 리스트</div>
                            <div class="card-body">
                                <div class="datatable">
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%"
                                        cellspacing="0">
                                        <td> 검색 기능 추가하기
                                            접기 기능
                                            달력 날짜 널이면 오늘날짜 
                                            검색
                                            화살표 표마다 정렬되게 
                                            구직사이트 처럼 조건 다 골라서 검색되게
                                            <form>
                                                <input class="form-control" placeholder="Search">
                                            </form>
                                        </td>
                                    </table>
                                    <table class="table table-bordered table-hover" id="dataTable" width="100%"
                                        cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>No.</th>
                                                <th class="d-none d-xl-table-cell">사번</th>
                                                <th class="d-none d-xl-table-cell">구분</th>
                                                <th class="d-none d-xl-table-cell">사원명</th>
                                                <th class="d-none d-xl-table-cell">부서</th>
                                                <th class="d-none d-xl-table-cell">직급</th>
                                                <th class="d-none d-xl-table-cell">휴대폰</th>
                                                <th class="d-none d-xl-table-cell">이메일</th>
                                                <th class="d-none d-xl-table-cell">입사일자</th>
                                                <th class="d-none d-xl-table-cell">재직여부</th>
                                                <th class="d-none d-xl-table-cell">퇴사일자</th>
                                                <th>test</th>
                                                <th>test</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>No.</th>
                                                <th class="d-none d-xl-table-cell">사번</th>
                                                <th class="d-none d-xl-table-cell">구분</th>
                                                <th class="d-none d-xl-table-cell">사원명</th>
                                                <th class="d-none d-xl-table-cell">부서</th>
                                                <th class="d-none d-xl-table-cell">직급</th>
                                                <th class="d-none d-xl-table-cell">휴대폰</th>
                                                <th class="d-none d-xl-table-cell">이메일</th>
                                                <th class="d-none d-xl-table-cell">입사일자</th>
                                                <th class="d-none d-xl-table-cell">재직여부</th>
                                                <th class="d-none d-xl-table-cell">퇴사일자</th>
                                                <th>test</th>
                                                <th>test</th>
                                            </tr>
                                        </tfoot>
                                        <tbody v-for="(emp, i) in empList" key="emp.empno">
                                            <tr>
                                                <td>
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-toggle="modal" data-bs-target="#empDetailModal"
                                                        @click="getEmp(i)">{{ i+1 }}
                                                    </button>
                                                </td>
                                                <td class="d-none d-xl-table-cell">{{ emp.empno }}</td>
                                                <td class="d-none d-xl-table-cell">{{ emp.username }}</td>
                                                <td class="d-none d-xl-table-cell">{{ emp.name }}</td>
                                                <td><span class="badge bg-success">{{ emp.departmentname }}</span></td>
                                                <td class="d-none d-md-table-cell">{{ emp.gradename }}</td>
                                                <td class="d-none d-xl-table-cell">{{ emp.tel }}</td>
                                                <td class="d-none d-xl-table-cell">{{ emp.mail }}</td>
                                                <td class="d-none d-xl-table-cell">{{ emp.entrydate }}</td>
                                                <td class="d-none d-xl-table-cell">{{ emp.retireyn }}</td>
                                                <td class="d-none d-xl-table-cell">{{ emp.retiredate }}</td>
                                                <td>
                                                    <div class="badge badge-primary badge-pill">Full-time</div>
                                                </td>
                                                <td>
                                                    <button
                                                        class="btn btn-datatable btn-icon btn-transparent-dark mr-2"><i
                                                            data-feather="more-vertical"></i></button>
                                                    <button class="btn btn-datatable btn-icon btn-transparent-dark"><i
                                                            data-feather="trash-2"></i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <footer>
                                        <!-- 페이징 처리 하기 -->
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination justify-content-center">
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </footer>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="footer mt-auto footer-light">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 small">Copyright &copy; I5-29 ERP SYSTEM 2022</div>
                            <div class="col-md-6 text-md-right small">
                                <a href="#!">Privacy Policy</a>
                                &middot;
                                <a href="#!">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>





            <!-- 사원 상세 조회 Modal (id="empList" 에 포함되어 있어야 함) -->
            <div class="modal fade" id="empDetailModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="empDetailModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <!-- 헤더 -->
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="empDetailModalLabel">사원 조회</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <!-- 본문 -->
                            <div class="container">
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.empno }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item item2 color2">
                                    {{ empDetail.name }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.gender }}
                                </div>
                                <div><span class="badge bg-success" id="item color1">{{
                                        empDetail.mail }}</span></div>

                                <div class="d-none d-md-table-cell" id="item color1">{{ empDetail.tel }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.zipcode }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.addr }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.birthday
                                    }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.school
                                    }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.yearsalary
                                    }}
                                </div>

                                <div class="d-none d-xl-table-cell" id="item color1">{{
                                    empDetail.retirementpay
                                    }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.account
                                    }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.memo
                                    }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.retireyn
                                    }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.restyn
                                    }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.retirenote
                                    }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.bankname
                                    }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{
                                    empDetail.departmentname
                                    }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.gradename
                                    }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.username
                                    }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.fileno
                                    }}
                                </div>
                                <div class="d-none d-xl-table-cell" id="item color1">{{ empDetail.gradename
                                    }}
                                </div>


                            </div>
                        </div>
                        <!-- modal-footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
                            </button>
                            <button type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                </div>
            </div><!-- /사원 상세 조회 Modal -->
        </div>
        <!--empList 끝 -->


        <!-- 사원 등록 Modal 시작 -->
        <div class="col-xl-8">

            <div class="modal fade" id="empRegistModal123" data-bs-backdrop="static" tabindex="-1" role="dialog"
                aria-labelledby="empRegistModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">

                    <div class="modal-content">
                        <div class="modal-body p-0">

                            <!-- details card -->
                            <div class="card mb-4">
                                <div class="card-header">사원 등록</div>

                                <!-- card-body -->
                                <div class="card-body pb-3">
                                    <form class="validation-form" novalidate role="form text-left">


                                        <!-- Form Row-->
                                        <div class="form-row">
                                            <!-- Form Group (last name)-->
                                            <div class="form-group col-md-6">
                                                <label label class="small mb-1" for="name">사번</label>
                                                <input type="text" class="form-control" id="name" placeholder=""
                                                    value="" required>
                                                <div class="invalid-feedback">
                                                    사번을 입력해주세요.
                                                </div>
                                            </div>
                                            <!-- Form Group (last name)-->
                                            <div class="form-group col-md-6">
                                                <label label class="small mb-1" for="nickname">별명</label>
                                                <input type="text" class="form-control" id="nickname" placeholder=""
                                                    value="" required>
                                                <div class="invalid-feedback">
                                                    별명을 입력해주세요.
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Form Group (email address)-->
                                        <div class="form-group">
                                            <label for="email">이메일</label>
                                            <input type="email" class="form-control" id="email"
                                                placeholder="you@example.com" required>
                                            <div class="invalid-feedback">
                                                이메일을 입력해주세요.
                                            </div>
                                        </div>
                                        <!-- Form Group (email address)-->
                                        <div class="form-group">
                                            <label for="address">주소</label>
                                            <input type="text" class="form-control" id="address" placeholder="서울특별시 강남구"
                                                required>
                                            <div class="invalid-feedback">
                                                주소를 입력해주세요.
                                            </div>
                                        </div>
                                        <!-- Form Group (email address)-->
                                        <div class="form-group">
                                            <label for="address2">상세주소<span class="text-muted">&nbsp;(필수
                                                    아님)</span></label>
                                            <input type="text" class="form-control" id="address2"
                                                placeholder="상세주소를 입력해주세요.">
                                        </div>

                                        <div class="form-row">
                                            <!-- Form Group (email address)-->
                                            <div class="col-md-8 mb-3">
                                                <label for="root">가입 경로</label>
                                                <select class="custom-select d-block w-100" id="root">
                                                    <option value=""></option>
                                                    <option>검색</option>
                                                    <option>카페</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    가입 경로를 선택해주세요.
                                                </div>
                                            </div>


                                            <!-- Form Group (email address)-->
                                            <div class="form-group"><label for="exampleFormControlInput1">Email
                                                    address</label><input class="form-control form-control-solid"
                                                    id="exampleFormControlInput1" type="email"
                                                    placeholder="name@example.com"></div>
                                            <!-- Form Group (email address)-->
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect1">Example select</label><select
                                                    class="form-control form-control-solid"
                                                    id="exampleFormControlSelect1">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                            <!-- Form Group (email address)-->
                                            <div class="form-group"><label for="exampleFormControlTextarea1">Example
                                                    textarea</label><textarea class="form-control form-control-solid"
                                                    id="exampleFormControlTextarea1" rows="3"></textarea></div>
                                            <!-- Form Group (email address)-->
                                            <div class="col-md-4 mb-3">
                                                <label for="code">추천인 코드</label>
                                                <input type="text" class="form-control" id="code" placeholder=""
                                                    required>
                                                <div class="invalid-feedback">
                                                    추천인 코드를 입력해주세요.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="aggrement" required>
                                            <label class="custom-control-label" for="aggrement">개인정보 수집 및
                                                이용에 동의합니다.</label>
                                        </div>


                                        <div class="text-center">
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">닫기
                                                </button>
                                                <button class="btn btn-secondary" type="submit">등록
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <script>
                window.addEventListener('load', () => {
                    const forms = document.getElementsByClassName('validation-form');

                    Array.prototype.filter.call(forms, (form) => {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }

                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            </script>
            <!-- 사원 등록 모달 끝 1 -->





            <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
            <script src="https://unpkg.com/vue@next"></script>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
            <script>
                const EmpList = {
                    data() {
                        return {
                            empList: [],
                            empDetail: []
                        }
                    },

                    methods: {

                        getEmpList() {
                            axios.post("http://localhost:8888/api/hrms")
                                .then((response) => {
                                    this.empList = response.data;
                                })
                                .catch(error => console.error(error))
                        },

                        getEmp(empno) {
                            this.empDetail = this.empList[empno];
                        }

                    },

                    mounted() {
                        this.getEmpList()

                    }
                }
                Vue.createApp(EmpList).mount('#empList');

            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</th:blcok>

</html>