<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout_form}">
<th:blcok layout:fragment="content">

    <head>
        <meta charset="UTF-8">


        <link href="/css/expendInformation/modal.css" rel="stylesheet">
        <link href="/css/hrms/hrms.css" rel="stylesheet"/>

        <title>지출 결의</title>
    </head>

    <body>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white">
        <div class="container-fluid">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            HRMS - 지출 결의
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <header class="page-header page-header-dark bg-gray-900 pb-10">
        <div class="container">
            <div class="page-header-content pt-2">
            </div>
        </div>
    </header>
    <div class="container mt-n10">
        <div class="card mb-4">
            <div class="card-header">지출 결의</div>
            <div class="card-body">
                <div class="datatable">
                    <div id="app" class="boardTop">
                        <!--검색 폼-->
                        <form v-on:submit.prevent method="post">
                            <div class="form-row">
                                <div class="row col-12">
                                    <!--   검색 폼 : 날짜   -->
                                    <div class="form-group col-md-4">
                                        <label for="startDvRegDate">검색 기간</label>
                                        <i class="mr-2 text-primary" data-feather="calendar"></i>
                                        <input v-model="startDvRegDate"
                                               id="startDvRegDate"
                                               class="form-control form-control-solid"
                                               type="date"
                                               :max="maxDate"
                                               @blur="dateValid">
                                        <div v-show="!startDateFlag" style="color : #ec3a3a; font-size: 11px;">
                                            &nbsp;날짜가 올바르지 않습니다.
                                        </div>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="endDvRegDate">&nbsp;</label>
                                        <input v-model="endDvRegDate"
                                               id="endDvRegDate"
                                               class="form-control form-control-solid"
                                               type="date"
                                               :max="maxDate"
                                               @blur="dateValid">
                                    </div>

                                    <!--   검색 폼 : 승인 여부   -->
                                    <div class="form-group col-md-2">
                                        <label for="dvappyn">승인 여부</label>
                                        <select class="form-select form-control-solid" name="dvappyn" id="dvappyn"
                                                v-model="dvappyn">
                                            <option value="all" selected>전체</option>
                                            <option value="y">승인</option>
                                            <option value="w">대기</option>
                                            <option value="n">반려</option>
                                        </select>
                                    </div>

                                    <!--for의 값과 input의 id 값이 다르면 오류-->
                                    <!--사번 검색-->
                                    <div class="form-group col-md-3">
                                        <label for="empno">사원 번호</label>
                                        <div class="input-group input-group-joined input-group-solid">
                                            <input v-model="empno" id="empno" class="form-control form-control-sm"
                                                   type="number">
                                        </div>
                                    </div>

                                    <!--사원 이름 검색-->
                                    <div class="form-group col-md-3">
                                        <label for="empname">사원 이름</label>
                                        <div class="input-group input-group-joined input-group-solid">
                                            <input v-model="name" id="empname" class="form-control form-control-sm"
                                                   type="text">
                                        </div>
                                    </div>

                                    <div class="form-group col-md-4"></div>

                                    <!--   검색 폼 : 조회 버튼   -->
                                    <div class="form-group col-md-2" style="display: grid; padding:1rem;">
                                        <button type="submit" @click="postParam()" class="btn btn-dark btn-md"
                                                id="submitBtn">조회
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>

                        <!--리스트 보여주기-->
                        <div>
                            <table class="expendListTable table" style="border: 10px;">
                                <!-- 데이터 헤더 출력 부분 -->
                                <thead>
                                <tr>
                                    <th>결의번호</th>
                                    <th>사번</th>
                                    <th>이름</th>
                                    <th>부서</th>
                                    <th>신청날짜</th>
                                    <th>지출금액</th>
                                    <th>승인여부</th>
                                    <th>상세보기</th>
                                </tr>
                                </thead>

                                <!-- 데이터 출력 부분 -->
                                <tbody class="allContent">
                                <tr id="expendList" v-for="(result, i) in paginatedData" :key="i">

                                    <!-- 결의 번호 -->
                                    <td>
                                        {{result.dvno}}
                                    </td>

                                    <!-- 사번 -->
                                    <td>
                                        {{result.empno}}
                                    </td>

                                    <!-- 사원 이름 -->
                                    <td>
                                        {{result.name}}
                                    </td>

                                    <!-- 부서명 -->
                                    <td>
                                        {{result.departmentname}}
                                    </td>

                                    <!-- 날짜 -->
                                    <td>
                                        {{result.dvRegDate}}
                                    </td>

                                    <!-- 총 금액 -->
                                    <td>
                                        {{currency(result.dvamt)}} 원
                                    </td>

                                    <!-- 승인 여부 -->
                                    <td>
                                        <div v-if="result.dvappyn ==='y'">
                                            승인
                                        </div>
                                        <div v-else-if="result.dvappyn === 'n'">
                                            반려
                                        </div>
                                        <div v-else-if="result.dvappyn === 'w'">
                                            대기
                                        </div>
                                    </td>

                                    <!-- 상세 조회 버튼 -->
                                    <td class="detail-btn">
                                        <button type="button" class="modal-btn" data-toggle="modal"
                                                onclick="detail_modalShow()" @click="getDvno(result.dvno , i)">상세보기
                                        </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                        <footer>
                            <!-- 페이징 처리 하기 -->
                            <div class="btn-cover" style="text-align: right">
                                <button :disabled="pageNum === 0" @click="prevPage" class="btn-hrms">
                                    이전
                                </button>
                                <span class="page-count">{{ pageNum + 1 }} / {{ pageCount }} 페이지</span>
                                <button :disabled="pageNum >= pageCount - 1" @click="nextPage"
                                        class="btn-hrms">
                                    다음
                                </button>
                            </div>
                        </footer>

                        <!--modal-->
                        <div class="modal fade" tabindex="-1" id="detail_modal" role="dialog"
                             data-backdrop="static">
                            <div class="modal-dialog modal-xl modal-dialog-centered">
                                <div class="modal-content">

                                    <!--modal header-->
                                    <div class="modal-header">
                                        <button type="button" class="btn-close" aria-label="Close"
                                                data-dismiss="modal" onclick="detail_modalHide()"></button>
                                    </div>

                                    <!--modal body-->
                                    <div class="modal-body">
                                        <div id="div_title">
                                            <table
                                                    style="border: solid rgb(255, 255, 255); width: 100%; border-collapse: collapse;">
                                                <tbody>
                                                <tr>
                                                    <td style="background: white; height: 60px; text-align: center; color: black; font-size: 25px; font-weight: bold; vertical-align: middle;"
                                                        colspan="2">
                                                        지출결의서
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td
                                                            style="background: white; padding: 0px; color: black; font-size: 12px; font-weight: normal;">
                                                        <table
                                                                style="border: 1px solid rgb(0, 0, 0); margin-top: 1px; border-collapse: collapse;">
                                                            <colgroup>
                                                                <col width="120">
                                                                <col width="180">
                                                            </colgroup>

                                                            <tbody>
                                                            <!-- 결의 번호 -->
                                                            <tr>
                                                                <td class="header"
                                                                    style="border: 1px solid black">
                                                                    결의번호
                                                                </td>
                                                                <td class="header_detail">
                                                                    <div style="font-size: 9pt;">
                                                                        {{dvno}}
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <!-- 기안일 -->
                                                            <tr>
                                                                <td class="header">
                                                                    기안일
                                                                </td>
                                                                <td class="header_detail">
                                                                    <div style="font-size: 9pt;">
                                                                        {{dvRegDate}}
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <!-- 소속명 -->
                                                            <tr>
                                                                <td class="header">
                                                                    소속
                                                                </td>
                                                                <td class="header_detail">
                                                                    <div>
                                                                        <div style="font-size: 9pt;">
                                                                            {{departmentname}}
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <!-- 기안자 -->
                                                            <tr>
                                                                <td class="header_title">
                                                                    기안자
                                                                </td>
                                                                <td class="header_detail">
                                                                    {{empname}}
                                                                </td>
                                                            </tr>

                                                            </tbody>
                                                        </table>
                                                    </td>

                                                    <td
                                                            style="padding: 0px; border: currentColor; text-align: right; color: black; font-size: 12px; font-weight: normal; vertical-align: top;">
                                                        <div>
                                                                    <span>
                                                                        <strong></strong>
                                                                    </span>
                                                            &nbsp;&nbsp;
                                                            <span>
                                                                        <strong></strong>
                                                                    </span>
                                                        </div>
                                                    </td>

                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                        <br>

                                        <div id="expendInformationWrapper" style="margin-top: 10px">
                                            <table class="detailEI" style="width:100%; height: 100px;">
                                                <colgroup>
                                                    <col width="140">
                                                    <col width="180">
                                                    <col width="250">
                                                    <col width="110">
                                                    <col width="120">
                                                </colgroup>

                                                <tbody>
                                                <div id="insertDetail">
                                                    <tr>
                                                        <!-- 사용 일자 -->
                                                        <td class="subjectColumn">
                                                            <div style="font-size: 9pt;">
                                                                일 자
                                                            </div>
                                                        </td>

                                                        <!-- 분류 -->
                                                        <td class="subjectColumn">
                                                            <div style="font-size: 9pt;">
                                                                분 류
                                                            </div>
                                                        </td>

                                                        <!-- 사용 내역 -->
                                                        <td class="subjectColumn">
                                                            <div style="font-size: 9pt;">
                                                                사용 내역
                                                            </div>
                                                        </td>

                                                        <!-- 금액 -->
                                                        <td class="subjectColumn">
                                                            <div style="font-size: 9pt;">
                                                                금 액
                                                            </div>
                                                        </td>

                                                        <!-- 비고 -->
                                                        <td class="subjectColumn">
                                                            <div style="font-size: 9pt;">
                                                                비 고
                                                            </div>
                                                        </td>

                                                    </tr>

                                                    <tr v-for="result in modalList" :key="result">

                                                        <!-- 사용 일자  -->
                                                        <td class="detailColumn" style="height: 29px;">
                                                            {{result.dvUseDate}}
                                                        </td>

                                                        <!-- 분류 -->
                                                        <td class="detailColumn">
                                                            {{result.divname}}
                                                        </td>

                                                        <!-- 사용 내역 -->
                                                        <td class="detailColumn" style="height: 29px;">
                                                            {{result.detailuse}}
                                                        </td>

                                                        <!-- 금액 -->
                                                        <td class="detailColumn" style="height: 29px;">
                                                            {{currency(result.price)}} 원
                                                        </td>

                                                        <!-- 비고 -->
                                                        <td class="detailColumn" style="height: 29px;">
                                                            {{result.dvmemo}}
                                                        </td>
                                                    </tr>
                                                </div>

                                                <tr>
                                                    <td colspan="3" class="subjectColumn">
                                                        합계
                                                    </td>

                                                    <!-- 총 금액이 나와야함 -->
                                                    <!-- 총 금액  -->
                                                    <td id="total_amount" class="detailColumn">
                                                        {{currency(dvamt)}} 원
                                                    </td>

                                                    <!-- 비고 내용이 나와야함 -->
                                                    <!-- 비고 -->
                                                    <td id="note" class="detailColumn">

                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <!--modal footer-->
                                    <div class="modal-footer">
                                        <div v-if="usertype">
                                            <button type="button" class="dvappbtn" id="dvappy" value="y"
                                                    @click="setYN($event)"
                                                    onclick="confirm_modalShow()">
                                                승인
                                            </button>
                                            <button type="button" class="dvappbtn" id="dvappn" value="n"
                                                    @click="setYN($event)"
                                                    onclick="confirm_modalShow()"
                                                    style="margin-left: 10px">
                                                반려
                                            </button>
                                        </div>
                                        <button type="button" class="button" id="download" @click="downloadWithAxios">
                                            다운로드
                                        </button>
                                        <button type="button" class="button" id="close"
                                                onclick="detail_modalHide()">닫기
                                        </button>
                                    </div>


                                    <!--confirm modal-->
                                    <div class="modal fade" tabindex="-1" id="confirm_modal" role="dialog"
                                         data-bs-backdrop="static">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">

                                                <!--modal header-->
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" aria-label="Close"
                                                            data-dismiss="modal"
                                                            onclick="confirm_modalHide(); detail_modalHide();"></button>
                                                </div>

                                                <!--modal body-->
                                                <div class="modal-body">
                                                    <div v-if="getYN()">
                                                        <label>승인 처리 하시겠습니까 ?</label>
                                                    </div>
                                                    <div v-else>
                                                        <label>반려 처리 하시겠습니까 ?</label>
                                                    </div>
                                                </div>

                                                <!--modal footer-->
                                                <div class="modal-footer">
                                                    <button type="button" class="button" id="confirm_y"
                                                            @click="updateDvapp()"
                                                            onclick="confirm_modalHide(); detail_modalHide(); ">확인
                                                    </button>
                                                    <button type="button" class="button" id="confirm_n"
                                                            onclick="confirm_modalHide(); detail_modalHide(); ">취소
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- confirm modal fin-->
                                </div>
                            </div>
                        </div>
                        <!-- detail modal fin-->

                    </div>
                </div>

            </div>

        </div>

    </div>

    <script>

        // modalshow
        function detail_modalShow() {
            console.log("show");
            $("#detail_modal").modal("show");
        }

        // modal hide
        function detail_modalHide() {
            console.log("hide");
            $("#detail_modal").modal("hide");
        }

        // modalshow
        function confirm_modalShow() {
            console.log("show");
            $("#confirm_modal").modal("show");
        }

        // modal hide
        function confirm_modalHide() {
            console.log("hide");
            $("#confirm_modal").modal("hide");
        }

    </script>

    <!--지출결의 리스트 vue-->
    <script>

        const expend = {
            data() {
                return {
                    usertype: true,                     //유저 권한
                    empno: '',                          //사원 번호
                    empname: '',                        //사원 이름
                    name: '',                           //검색 이름
                    dvappyn: 'all',                     //승인 여부
                    startDvRegDate: '',                 //시작 날짜
                    endDvRegDate: '',                   //종료 날짜
                    dvRegDate: '',                      //작성 날짜
                    departmentname: '',                 //부서명
                    dvamt: '',                          //총금액
                    divcd: '',                          //계정 과목 번호
                    dvno: '',                           //결의 번호

                    modalList: [],                      //상세 내역 리스트 배열
                    expendList: [],                     //지출 결의 리스트 배열

                    rownum: '',                         //행의 인덱스 값

                    startDateFlag: true,                //시작 날짜 확인 Flag
                    maxDate: dateToString(new Date()),  //input max 날짜 설정 ( 오늘 날짜로 )

                    filename :[],                       //다운로드 파일 이름

                    pageNum: 0                          // pagination
                }
            },

            // pagination
            props: {
                pageSize: {
                    type: Number,
                    required: false,
                    default: 5
                }
            },

            methods: {

                setYN($event) {
                    let dvappButton = event.currentTarget.value;
                    this.dvappyn = dvappButton;
                },

                getYN() {
                    if (this.dvappyn == 'y')
                        return true;
                    else
                        return false;
                },

                // 로그인 된 아이디의 usertype 가져오기
                getUserType() {
                    axios.post("http://localhost:8888/api/usertype")
                        .then((response) => {
                            this.usertype = response.data === 'ROLE_C';
                        })
                },

                // 조건에 따른 parameter post, 전체적인 리스트
                postParam() {
                    axios.post("http://localhost:8888/api/paramExpendInformation",
                        {
                            empno: this.empno,
                            empname: this.name,
                            dvappyn: this.dvappyn,
                            startDvRegDate: this.startDvRegDate,
                            endDvRegDate: this.endDvRegDate,
                            divcd: this.divcd
                        }
                    ).then((response) => {
                        this.expendList = response.data;
                    }).catch(error => console.error(error))
                },


                // 결의 번호에 따른 데이터 받는 메소드, 결의 번호 상세 정보
                getDvno: function (dvno, i) {
                    axios.post("http://localhost:8888/api/detailExpendInformation",
                        {
                            dvno: dvno
                        })
                        .then((response) => {
                            this.modalList = response.data;
                            this.dvno = this.modalList[0].dvno;
                            this.dvRegDate = this.modalList[0].dvRegDate;
                            this.departmentname = this.modalList[0].departmentname;
                            this.empname = this.modalList[0].name;
                            this.dvamt = this.modalList[0].dvamt;
                            this.rownum = i;
                        })
                        .catch(error => console.error(error))

                },

                // 승인 반려에 따른 업데이트 메소드
                updateDvapp: function () {
                    axios.post("http://localhost:8888/api/updateEI", {
                        dvno: this.dvno,
                        dvappyn: this.dvappyn
                    }).then((response) => {
                            console.log(this.dvappyn)
                            if (this.dvappyn == 'y')
                                this.expendList[this.rownum].dvappyn = 'y';
                            else
                                this.expendList[this.rownum].dvappyn = 'n';
                        }
                    )
                },

                // 금액 표현식
                // ex) 1,234,567
                currency(e) {
                    var num = new Number(e);
                    return num.toFixed(0).replace(/(\d)(?=(\d{3})+(?:\.\d+)?$)/g, "$1,")
                },

                // 날짜 validation
                dateValid() {
                    let start = Date.parse(this.startDvRegDate);
                    let end = Date.parse(this.endDvRegDate);
                    this.startDateFlag = ((start > end)) ? false : true;
                },

                // 날짜 초기 설정
                setDate() {
                    let today = new Date();

                    if (this.startDvRegDate == "") {
                        this.startDvRegDate = dateToString(today);
                    }
                    if (this.endDvRegDate == "") {
                        this.endDvRegDate = dateToString(today);
                    }
                },

                getFilename(){
                    axios.post("http://localhost:8888/api/getFilename", {
                        dvno: this.dvno
                        }).then((response) => {
                            this.filename = response.data;
                    })
                },

                downloadWithAxios() {
                    this.getFilename();
                    axios.post("http://localhost:8888/api/download", {
                        dvno: this.dvno,
                        responseType: 'Blob'
                    }).then((response) => {
                        const data = response.data;
                        let url = window.URL.createObjectURL(new Blob([data]));
                        const link = document.createElement('a');
                        link.href = url;
                        link.setAttribute('download', this.filename);
                        document.body.append(link);
                        link.click();
                    }).catch((error) => console.log(error))
                },


                //pagination
                nextPage() {
                    this.pageNum += 1;
                },

                prevPage() {
                    this.pageNum -= 1;
                },

            },


            computed: {
                pageCount() {
                    let listLeng = this.expendList.length;
                    let listSize = this.pageSize;
                    let page = Math.floor(listLeng / listSize);

                    if (listLeng == 0)
                        return 1;

                    if (listLeng % listSize > 0)
                        page += 1;

                    return page;
                },

                paginatedData() {
                    let start = this.pageNum * this.pageSize,
                        end = start + this.pageSize;

                    return this.expendList.slice(start, end);
                }
            },

            // 로그인 된 아이디의 usertype 가져오기
            created() {
                this.getUserType();
            },

            mounted() {
                this.setDate();
            },


        }


        //날짜 포멧 yyyy-MM-dd
        function dateToString(date) {
            let month = date.getMonth() + 1;
            let day = date.getDate();

            month = month >= 10 ? month : '0' + month;
            day = day >= 10 ? day : '0' + day;

            return date.getFullYear() + '-' + month + '-' + day;
        }

        Vue.createApp(expend).mount('#app');

    </script>

    </body>
</th:blcok>

</html>