#header {
    width: 10%;
    height: 50px;
    background-color: #212529;
}

.container-fluid {
    width: 100%;
}

#nav {
    width: 10%;
    height: 400px;
    float: left;
}

#content {
    padding-top: 100px;
    padding-left: 30%;
    padding-right: 10%;
    width: 90%;
    height: 400px;
    float: right;
}