*{
    box-sizing:border-box;
}

body{
    width:100%;
    height: 100%;
    margin:0;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border : 2px solid #1c1c331f;
    border-radius: 3px;
}

.table>tbody>tr>td {
    padding: 1%;
}

th {
    font-size: 18px;
}

/*card*/
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1.5px solid #0a2b4e1c;
  border-radius: 0.35rem;
  margin-right: 40px;
  width: 197px;
  height: 205px;
}

.reject{
    border: 1.5px solid #f439393b;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.35rem;
    margin-right: 40px;
    width: 197px;
    height: 205px;
}

.ok{

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1.5px solid #07ad005e;
  border-radius: 0.35rem;
  margin-right: 40px;
  width: 197px;
  height: 205px;
}

.card .card-header {
  font-weight: 500;
}

.card-header{
  text-align: center;
  font-size: 17px;
  padding: 0.5rem 1.25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.35rem;
}

.card-footer {
  padding: 1rem 1.35rem;
  background-color: rgba(33, 40, 50, 0.03);
  border-top: 1px solid rgba(33, 40, 50, 0.125);
}
.card-footer:last-child {
  border-radius: 0 0 0.35rem 0.35rem;
}

.card:not([class*=bg-]) .card-header {
  color: #3e5670;
}

.col-card{
  position: relative;
  width: 240px;
  display: -webkit-box;
  
}

.tab-content{
  overflow: scroll auto;
  margin: 23px;
}

.card_result{
  display: contents;
}