<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sjht.erp.home.Mapper.HomeMapper">
    <select id="getNoticeList" resultType="sjht.erp.common.vo.BoardVO">
        SELECT bno, title, regdate
        FROM board
        WHERE boardtype = 'A'
    </select>
</mapper>