<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="sjht.erp.board.mapper.BoardMapper">


    <!-- 게시글 조회 -->
    <select id="boardList" resultType="sjht.erp.board.dto.BoardResponse">
        SELECT
            b.bno,
            b.empno,
            b.title,
            b.content,
            b.createtime,
            b.boardtype,
            b.boardcount,
            e.name
        FROM
            board b left join employee e on(b.empno = e.empno)
        WHERE
            b.boardtype = #{boardtype}
        ORDER BY
            bno DESC
    </select>

    <!-- 게시글 검색 -->
    <select id="searchBoardList" parameterType="hashMap" resultType="sjht.erp.board.dto.BoardResponse">
        SELECT
            b.bno,
            b.empno,
            b.title,
            b.content,
            b.createtime,
            b.boardtype,
            b.boardcount,
            e.name
        FROM
            board b left join employee e on(b.empno = e.empno)
        <choose>

            <when test="searchtype =='all'">
                WHERE e.name like concat('%',#{search},'%') OR b.title like concat('%',#{search},'%')
            </when>
            <when test="searchtype =='empname'">
                WHERE e.name like concat('%',#{search},'%')
            </when>
            <when test="searchtype =='title'">
                WHERE b.title like concat('%',#{search},'%')
            </when>
            <when test="search != null ">
                WHERE b.title=''
            </when>

        </choose>
            ORDER BY
                bno DESC
    </select>

    <!-- 조회수 -->
    <update id="boardCount">
        UPDATE
            board
        SET
            boardcount = boardcount + 1
        WHERE
            bno = #{bno}
    </update>

    <!-- 게시글 상세정보 -->
    <select id="boardDetail" parameterType="int"
            resultType="sjht.erp.board.dto.BoardResponse">
        SELECT
            b.bno,
            b.empno,
            b.title,
            b.content,
            b.createtime,
            b.boardtype,
            b.boardcount,
            e.name
        FROM
            board b left join employee e on(b.empno = e.empno)
        WHERE
            b.bno = #{bno}
    </select>

    <!-- 게시글 등록 -->
    <insert id="boardInsert" parameterType="sjht.erp.board.dto.BoardRequest"
    useGeneratedKeys="true" keyProperty="bno">
        INSERT INTO board (
            bno, empno, title, content, createtime, boardcount, boardtype
        ) VALUES (
              #{bno}
            , #{empno}
            , #{title}
            , #{content}
            , NOW()
            , 0
            , 'b'
        )
    </insert>

    <!-- 게시글 수정 -->
    <update id="boardUpdate" parameterType="sjht.erp.board.dto.BoardRequest">
        UPDATE
            board
        SET
            title = #{title}
          , content = #{content}
        WHERE
            bno = #{bno}
    </update>

    <!-- 게시글 삭제 -->
    <delete id="boardDelete" parameterType="int">
        DELETE
        FROM
            board
        WHERE
            bno = #{bno}
    </delete>


</mapper>
